body{
    margin: 0px;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #003865;
}

.container{
    width: 100%;
}
.zIndex{
    z-index: 0;
}


.bg-darkBlue{
    background-color: #003865;
}
