body{
    margin: 0px;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
    width: 100%;
}
.zIndex{
    z-index: -1;
}



.bg-darkBlue{
    background-color: #003865;
}

img{
    max-width: 100px;
    opacity: 0.9;
}

.circleObj{
    animation: myOrbit 7s infinite;
    animation-delay: 2s;
   
}

@keyframes myOrbit {
    from { transform: rotate(0deg) translateX(400px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(400px) rotate(-360deg); }
}

