@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.flex{
    display: flex;
}
.zIndex{
    z-index: 1000;
}

.textcolor-lightBlue{
    color: #00a6d6;

}

.bold{
    font-weight: 700;
}

.spaceBtwn{
    justify-content: space-between;
}

.alignVertCent{
    align-items: center;
}

.textcolor-darkBlue{
    color: #003865;
}

.font50{
    font-size: 50px;
}

.textcolor-White{
    color: white;
}

.bg-lightBlue{
    background-color: #00a6d6;
}

.latoFont{
    font-family: 'Lato', sans-serif;
}

.w-full{
    width: 100%;
}

.paddingRight{
    padding-right: 10px;
}

.w33{
    width: 33%;
}

.marginAuto{
    margin-left: auto;
    margin-right: auto;
}

.maxWidth{
    max-width: 100px;
}

button{
    margin: 0px;
    cursor: pointer;
    font-size: 20px;
}

.wiggle{
    animation: wiggle 1.5s infinite;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}